@font-face {
    font-family: 'AntonRegular';
    src: url('../fonts/Anton-Regular.ttf');
  }
  :root {
    --FontDefault: 'AntonRegular', Courier, monospace;
    --FontColor: rgb(223, 208, 184)
  }


.grid-page {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 65px 1fr 45px;
    background: linear-gradient( rgb(223, 208, 184), rgb(148, 137, 121));
    grid-template-areas:
    'nav nav nav nav nav nav'
    'aside main main main main main'
    'footer footer footer footer footer footer';
    height: 100vh;
}
body {
    overflow-y: hidden;
    padding-top: 8px;
}

nav {
    color: var(--FontColor);
    font-family:var(--FontDefault);
    text-shadow: 3px 3px 2px black;
    grid-area: nav;
    background-color: rgb(21, 52, 72);
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

aside {
    font-family:var(--FontDefault);
    text-shadow: 3px 3px 2px black;
    grid-area: aside;
    background-color: rgb(60, 91, 111);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.LastItem{
    margin-top: auto;
}
aside a {
    color: var(--FontColor);
    font-size: large;
    text-decoration: none;
    transition: font-size 0.5s, border 0.5s;
}
aside a:hover {
    font-size:x-large;
    border: solid green;
}

footer {
    padding-top: 5px;
    padding-right: 5px;
    color: var(--FontColor);
    grid-area: footer;
    background-color:rgb(21, 52, 72);
    text-align: right;
}

main {
    grid-area: main;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .grid-page {
        grid-template-areas:
        'nav nav nav nav nav nav'
        'aside aside aside aside aside aside'
        'main main main main main main'
        'footer footer footer footer footer footer';
        grid-template-rows: 65px 65px 1fr 45px;
    }
    aside {
        flex-direction: row;
        justify-content: space-around;
    }
    .LastItem{
        margin: unset;
    }
    main {
        flex-direction: column;
    }
}