main {
    overflow: hidden;
}

#background {
    width: 100%;
    height: 100%;
}

#acdc {
    width: 20%; /* Make the overlay image smaller */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: balanceMove 4s infinite;
    z-index: 2;
}

@keyframes balanceMove {
    0% {
        transform:  rotate(0deg);
    }
    25% {
        transform:  rotate(-5deg);
    }
    50% {
        transform:  rotate(5deg);
    }
    75% {
        transform:  rotate(-5deg);
    }
    100% {
        transform:  rotate(0deg);
    }
}