:root {
    --cell-width: 300px;
  }


  .tableFluid {
    padding: 30px;
    font-size: 20px;
    width: 100%;
  }
  
  .theadFluid .trFluid {
    background-color: #FFEEDB;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .trFluid {
    padding: 5px;
  }
  
  .trFluid:nth-child(even) {
    background-color: lightgray;
  }
  
  /* Main container: initialize the flex, direction is row */
  .trFluid {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    width: 100%;
    transition: transform 1s;
  }

  .trFluid:hover:not(.head) {
    transform: scale(1.1, 1.1);
  }
  
  /* Wrappers around cells and other wrappers: flex, row, wrap */
  .trFluid_Grouping2, 
  .trFluid_Grouping1
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  .trFluid_Grouping2.num, 
  .trFluid_Grouping1.num {
    flex-grow: 0;
  }
  
  /* Text based cells: grow, truncate and show ellipsis when there is not enough space */
  .tdFluent {
    flex-grow: 1; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
    width: var(--cell-width);
  }
  
  .tdFluent.num {
    width: var(--cell-width);
    text-align: right;
  }

  main{
    position: relative;
    padding-top: 60px;
  }
  
  .button-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .buttons-and-search {
    display: flex;
    gap: 10px; 
}


  a {
    text-decoration: none;
    color: black;
  }

  /* Media queries: optimize for different screen widths. */

/* First breakpoint: all cells, does not fit into one row: break according to Grouping1 */
@media (max-width: 1200px) {

  /* inner wrappers vertical */
  .trFluid_Grouping1 {
    /* Let the wrapper flex vertically, so we get 2 rows */
    flex-direction: column;
    width: var(--cell-width);
  }

  /* can't have the children grow, since this means vertical growth 
       but let them grow horizontally, 100% to fill the wrapper */
  .trFluid_Grouping1 div {
    flex-grow: 0;
    width: 100%;
  }
}

/* Second breakpoint: break according to Grouping2 */
@media (max-width: 800px) {

  /* inner wrappers vertical */
  .trFluid_Grouping2 {
    /* Let the wrapper flex vertically, so we get more rows */
    flex-direction: column;
    width: var(--cell-width);
  }

  /* can't have the children grow, since this means vertical growth 
       but let them grow horizontally, 100% to fill the wrapper */
    .trFluid_Grouping2 div {
    flex-grow: 0;
    width: 100%;
  }
}


/* debugging colors:  */
/* .trFluid_Grouping1 {
    border: 1px solid green;
    padding: 2px;
    margin: 2px;
  }
  .trFluid_Grouping2 {
    border: 1px solid red;
    margin: 2px;
  }
  .trFluid:not(.header){
    border: 1px solid blue;
    margin: 2px;
  }
  .tdFluent {
    border: 1px black;
  } */
  